*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* ============================================header-start=============================================================== */
/* .container_nav{
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    align-items: center;
    color: white; */

/* =============================================uper-nav==================================================================== */
.up_nav{
    display: grid;
    grid-auto-flow: column;
    background-color: black;
    justify-content:space-around;
    align-items: center;
    height:70px;
    color: white;
    font-size: 20px; 
}
.logo:hover{
    border: 3px solid white;
    
}
.select_address{
    display: grid;
    grid-auto-flow: column;
    
}
.select_address:hover{
    border: 3px solid white;

}
.search_bar select{
    font-size: 25px;
    background-color:lightgray ;
}
.search_bar input{
    font-size: 25px;
    height: 30px;
    width: 500px;
    
}
.search_bar i{
    background-color: rgb(129, 86, 6);
    font-size: 20px;
    padding: 7px;
}
.sing_in:hover{
    border: 3px solid white;
    
}
.orders a{
    color: white;
    text-decoration: none;
}
.orders:hover{
    border: 3px solid white;
    padding: 7px;

}
.cart{
    font-size: 25px;
}
.cart:hover{
    border: 3px solid white;
    padding: 7px;

}





/* ==============================================lower-nav================================================================= */
.lower_nav{
    display: grid;
    grid-auto-flow: column;
    background-color: rgba(5, 5, 85, 0.808);
    align-items: center;
    font-size: 25px;
    height: 50px;
    color: white

}
.left{
    display: grid;
    grid-auto-flow: column;
}


.right p{
    padding-left: 300px;
}
#nav_tag{
    color: white;
    text-decoration: none;
    padding: 5px;
   
}
#nav_tag:hover{
    border: 3px solid white;
    
}
.fa-bars{
    margin-left: 10px;
    text-align: center;

}
.fa-bars:hover{
    border: 3px solid white;
    padding: 5px;

}
#father-day:hover{
    border: 3px solid white;
     
}
.poster{
    background-image:url(/image/Under1499.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 600px ;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: end;
    
}
.visit {
    display: grid;
    grid-auto-flow: column;
    background-color: white;
    padding: 5px;
    margin-bottom: 5px;
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
}
.visit a{
    margin-left: 5px;
    text-decoration: none;
    color: rgb(25, 25, 236);
    font-weight: bold;
}
main{

    
}
