*{
    text-align: center;
}
/* -------------------------------------------header start------------------------------------------------------------------ */
.header_section{
    display: flex; 
    background-color: lawngreen;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    font-size:  40px; 
   
}
h1{
   margin-left: 100px;
   font-style: italic;
   color: white;
}
.header_center {
    display: flex;
    margin: 40px;
    align-items: center;
}
.home a {
    margin: 10px;
    color: black;
    text-decoration: none;
}
.home a:hover{
    color: white;
    text-decoration: underline;

}
.about a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
.about a:hover{
    color: white;
    text-decoration: underline;
}
.services a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
.services a:hover{
    color: white;
    text-decoration: underline;

} 
.login{
    margin: 5px;

}
.SignUp{
    margin: 5px;
    
}
button{
    background-color: white;
    border: 2px solid gray;
    border-radius: 15%;
    padding: 20px;
    cursor: pointer;

}
/* ---------------------------------------------------------part 1---------------------------------------------------------- */
 .part1{
     background-color: lightgray;
     height: 60vh;
 }

.heading{
    font-size: 2rem;
    font-style: oblique;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.box{
    float: left;
     width: 300px; 
     height: 300px;
    margin-left:250px;
    border: 2px solid red;
    padding: 20px;
    margin-bottom: 15px;
}
.item1{
    border: 2px solid red;
    background-color: skyblue;
    height: 50px;;
    width:50px;
    margin-left: 100px;
    padding:20px;
    margin-top: 5px;
    margin-bottom: 5px; 
    font-size: large;
}
#center{
    background-color: orange;
} 
 #left{
    background-color: orange; 
    float: left;
    margin-left:10px;
    
}
#right{
    background-color: orange; 
    float: right;
    margin-right:5px; 

} 
/* ----------------------------------------------------part2---------------------------------------------------------------- */
.part2{
    height: 950px;
    background-color: rgb(138, 223, 53);
} 
#relative{
    background-color: orange;
    position: relative;
    left: 20px;
    top: 20px;
}
#static{
    background-color: orange;
    position: static;
    
}   
#absolute{
    background-color: orange;
    position: absolute;
    right: 250px; 
    /* doubt*/

}
#scroll{
    overflow: scroll;
}
#sticky{
    background-color: orange;
    position: sticky;
    top: 0; 
}
/* -----------------------------------------------------part3---------------------------------------------------------------- */
 .part3{
    background-color: lightgray;
    height: 900px;
}
.item{
    border: 2px solid red;
    background-color: skyblue;
    height:40px;
    width:40px;
    padding:30px;
    margin: 5px;
}
.boxA{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 70%; 
    height: 500px;
   margin-left:250px;
   border: 2px solid red;
   padding-top: 50px;
   padding-bottom: 100px;
}
/* ---------------------------------------------------part4----------------------------------------------------------------------- */
.part4{
    height: 650px;
    background-color: lawngreen;
}
.boxB{
    display: flex;
    align-content: center;
    justify-content:center ;
    flex-wrap: wrap;
    width: 70%; 
    height: auto;
   margin-left: 250px;
   border: 2px solid red;
   padding-top: 100px;
   padding-bottom: 100px;
}
/* ---------------------------------------------------------part5----------------------------------------------------------- */
.part5{
    height: 400px;
   background-color: lightgrey;
}
.boxC{
    display: flex;
    justify-content: space-between;
    width: 70%; 
    height: auto;
   margin-left: 250px;
   border: 2px solid red;
   padding-top: 100px;
   padding-bottom: 100px;
}
#grow{
    flex-grow: 2;
}
    /* -----------------------------------------------------part6----------------------------------------------------------- */
 .part6{
        height: 350px;
        background-color: lawngreen;
 }

.boxD{
    
        display: flex;
        align-content: center;
       justify-content: center;
       flex-wrap: wrap;
        width: 70%; 
        height: auto;
         margin-left: 250px;
        border: 2px solid red;
        padding-top: 100px;
         padding-bottom: 100px;

}
#order{
    order: 6;
    
}
/* -------------------------------------------------------footer------------------------------------------------------------ */
.footer{
    display: flex;
    background-color: rgb(18, 179, 179);
   align-items: center;
   justify-content: center;
   height: 70px;
   

}
.footer a{

    color: blue;
    padding: 2px;
    margin-left: 100px;
    
    
}
/* ------------------------------------------------------footer end--------------------------------------------------------- */
  .top-up{
    position: fixed;
    bottom: 10%;
    right: 30px;
    background-color: red;
    padding: 20px;
    border-radius: 50px;
 }
    

.fa-arrow-up{
    font-size: 30px;
     
}
 




    







